html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-wite-color);
}

.title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

:root {
  /* Text colors */
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --logo-color:#000000;
  --header-line:#ECECEC;
  --portfolio-line: #EEEEEE;
  --footer-adres-color:rgba(255, 255, 255, 0.6);
  --icon-collor:#AFB1B8;
  --message-text:rgba(117, 117, 117, 0.5);
  /* Background colors */
  --primary-wite-color:#ffffff;
  --main-block-color:#2F303A;
  --secondary-bg-color:#F5F4FA;
  --button-hover-bg:#188CE8;
  --hero-bg:#C4C4C4;
  --icon-bg-color:rgba(255, 255, 255, 0.1);
  --label-bg-color:rgba(47, 48, 58, 0.8);
  --description-bd-color: rgba(33, 150, 243, 0.9);
  --backdrop-color:rgba(0, 0, 0, 0.2);
  /* Timing */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--logo-color);
}
.logo__web {
  color: var(--accent-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-wite-color);
}

.header {
  border: 1px solid var(--header-line);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__items {
  position: relative;
}
.nav__items:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link_current {
  color: var(--accent-color);
}
.nav__link_current::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.connection__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.connection__link:hover, .connection__link:focus {
  color: var(--accent-color);
}

.connection__items:not(:last-child) {
  margin-right: 50px;
}

.connection__icons {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-bg);
}

.hero__slogan {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--primary-wite-color);
}

.hero__button {
  min-width: 216px;
  height: 50px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-bg);
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.peculiarities__items {
  width: 270px;
}
.peculiarities__items:not(:last-child) {
  margin-right: 30px;
}

.peculiarities__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.peculiarities__caption {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.peculiarities__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__items {
  position: relative;
}

.work__box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--label-bg-color);
}

.work__label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-wite-color);
}

.command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}

.command__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.command__items {
  width: 270px;
  height: 428px;
  background-color: var(--primary-wite-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command__items:not(:last-child) {
  margin-right: 30px;
}

.command__box {
  padding: 30px 32px;
}

.command__caption {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
}

.command__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}

.command-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.command-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-wite-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.command-socials__link:hover, .command-socials__link:focus {
  background-color: var(--accent-color);
}

.command-socials__icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
  fill: var(--icon-collor);
}
.command-socials__link:hover .command-socials__icon, .command-socials__link:focus .command-socials__icon {
  fill: var(--primary-wite-color);
}

.command-socials__items:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--icon-collor);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.clients__items:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-block-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address {
  margin-right: 70px;
}

.address__col {
  width: 230;
  height: 80;
  font-style: normal;
}

.address__items:not(:last-child) {
  margin-bottom: 9px;
}

.address__connection {
  text-decoration: none;
  color: var(--footer-adres-color);
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.address__connection:hover, .address__connection:focus {
  color: var(--accent-color);
}

.address__map {
  text-decoration: none;
  color: var(--primary-wite-color);
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.address__map:hover, .address__map:focus {
  color: var(--accent-color);
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-wite-color);
  margin-bottom: 20px;
}

.join__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--icon-bg-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: var(--primary-wite-color);
}

.join__items:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 86px;
  margin-left: auto;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-wite-color);
}

.subscribe__imput {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-block-color);
  cursor: pointer;
  padding: 15px 16px;
  outline: transparent;
  color: var(--primary-wite-color);
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.subscribe__imput::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-adres-color);
}
.subscribe__imput::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-adres-color);
}
.subscribe__imput:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-adres-color);
}
.subscribe__imput::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-adres-color);
}
.subscribe__imput::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-adres-color);
}
.subscribe__label:focus-within .subscribe__imput, .subscribe__label:hover .subscribe__imput, .subscribe__label:focus .subscribe__imput {
  border-color: var(--accent-color);
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 12px;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-wite-color);
  cursor: pointer;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--button-hover-bg);
}

.filters {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters__items:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  min-height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border: transparent;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.filters__btn:hover, .filters__btn:focus {
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__btn_all {
  padding: 6px 25px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.project__items {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.project__box {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--description-bd-color);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__info {
  position: absolute;
  margin: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-wite-color);
}

.project__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.desc__box {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--portfolio-line);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--portfolio-line);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--portfolio-line);
}

.desc__caption {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.desc__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--primary-wite-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.modal__btm {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-wite-color);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__cross {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal__btm:hover .modal__cross, .modal__btm:focus .modal__cross {
  fill: var(--accent-color);
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.register-form__field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.register-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.register-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  cursor: pointer;
}
.register-form__field:focus-within .register-form__input, .register-form__field:hover .register-form__input, .register-form__field:focus .register-form__input {
  border-color: var(--accent-color);
}

.register-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.register-form__field:focus-within .register-form__icon, .register-form__field:hover .register-form__icon, .register-form__field:focus .register-form__icon {
  fill: var(--accent-color);
}

.register-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
  cursor: pointer;
}
.register-form__message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--message-text);
}
.register-form__message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--message-text);
}
.register-form__message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--message-text);
}
.register-form__message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--message-text);
}
.register-form__message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--message-text);
}
.register-form__field:focus-within .register-form__message, .register-form__field:hover .register-form__message, .register-form__field:focus .register-form__message {
  border-color: var(--accent-color);
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8.4px;
  margin-bottom: 30px;
}

.register-form__desc {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-form__link {
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.register-form__checkbox:focus:focus-visible + .register-form__pic {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.register-form__pic_empty {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}
.register-form__checkbox:checked + .register-form__pic .register-form__pic_empty {
  opacity: 0;
}

.register-form__pic_filled {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}
.register-form__checkbox:checked + .register-form__pic .register-form__pic_filled {
  opacity: 1;
}

.register-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  cursor: pointer;
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.register-form__btn:hover, .register-form__btn:focus {
  background-color: var(--button-hover-bg);
}/*# sourceMappingURL=main.css.map */