.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

background-color: var(--backdrop-color);
opacity: 1;
transition: opacity 250ms var(--timing-function),
visibility 250ms var(--timing-function);

}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
 
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(1.1);
}
.modal{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(1);
     
     width: 528px;
     min-height: 581px;
     padding: 40px;

     background: var(--primary-wite-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transition: transform 250ms var(--timing-function);
}
.modal__btm{
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

background-color: var(--primary-wite-color);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}
.modal__cross{
    transition: fill 250ms var(--timing-function);

    .modal__btm:hover &,
    .modal__btm:focus &{
        fill: var(--accent-color);
    }
}
