.logo{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
    color: var(--logo-color); 
    
    &__web{
        color: var(--accent-color);
    } 
}
.footer-logo{
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    text-decoration: none;
    color: var(--primary-wite-color);
    
}
