.project__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
}
.project__items{
width: 370px;
height: 404px;
margin-right: 30px;
margin-bottom: 30px;
}
.project__box{
position: relative;
overflow: hidden;
}
.project__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--description-bd-color);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
 
    .project__link:hover &,
    .project__link:focus &{
        opacity: 1;
        transform: translateY(0);
    }

}


.project__info{
    position: absolute;
    margin: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--primary-wite-color);
}
.project__link{
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms var(--timing-function);

&:hover,
&:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.desc__box{
    padding: 20px 24px;
    border-right-width: 1px;
        border-right-style: solid;
        border-right-color: var(--portfolio-line);
    
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--portfolio-line);
    
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: var(--portfolio-line);
}
.desc__caption{
    margin-bottom: 4px;
font-weight: 700;
    font-size: 18px;
    line-height: 2;
     letter-spacing: 0.06em;
     color: var(--title-text-color);
}

.desc__text{
font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}