.work{
    @include section($pt: 0);
}
.work__list{
    display: flex;
    justify-content: space-between;
}
.work__items{
position: relative;
}
.work__box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color:var(--label-bg-color) ;
}
.work__label{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-wite-color);
}
